<!--<h1>Product List</h1>

@if (isLoading()) {
  <p>Loading products...</p>
}

@if (errorMessage()) {
  <p>{{ errorMessage() }}</p>
}

@if (!isLoading() && !errorMessage()) {
  <div>
    @for (product of products(); track product.id) {
      <div>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <hr>
      </div>
    }
  </div>
}-->

<!--<app-mortgage-calculator></app-mortgage-calculator>-->
<!--<app-star-war-search> </app-star-war-search>  -->
<!--<app-job-board></app-job-board>-->
<!--<app-flight-booker></app-flight-booker>-->
<app-user-registration></app-user-registration>
<app-undoable-counter></app-undoable-counter>